.jumbotron {
    text-align: center;
    background-color: rgba(202, 205, 206, 0.411);
    min-height: 75px;
}

h1 {
    font-size: 10px;
}


.panel-title {
    text-align: center;
    font-size: 20px;
    color: black;
}


#sampleMetadata {
    font-weight: bold;
}

#pie {
    width: 100%;
    height: 100%;
}

#gauge {
    width: 100%;
    height: 100%;
}